main {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "call-to-action-1 hero-image-1"
    "hero-image-2 call-to-action-2"
    ;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 10fr 45fr 45fr [col-start];
    grid-template-areas: 
    "logo nav tools"
    ;
    align-items: center;
}
.logo {
    grid-area: logo;
}
nav {
    grid-area: nav;
}
.call-to-action1 {
    grid-area: call-to-action;
}
.hero-image-1 {
    grid-area: hero-image;
}
.call-to-action-2 {
    grid-area: call-to-action;
}
.hero-image2 {
    grid-area: hero-image;
}