main {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: auto;
}

.logo {
    grid-area: logo;
}
nav {
    grid-area: nav;
}
.call-to-action1 {
    grid-area: call-to-action;
}
.hero-image2 {
    grid-area: hero-image;
}
.call-to-action1 {
    grid-area: call-to-action;
}
.hero-image2 {
    grid-area: hero-image;
}