main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 400px 400px;
    grid-template-areas: 
    "header header"
    "call-to-action-1 hero-image-1"
    "hero-image-2 call-to-action-2"
    ;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "logo nav tools"
    ;
    align-items: center;
}

.logo {
    grid-area: logo;
}
nav.navbar {
    grid-area: nav;
}
.tools {
    grid-area: tools;
}
.call-to-action-1 {
    grid-area: call-to-action-1;
}
.hero-image-1 {
    grid-area: hero-image;
}
.call-to-action-2 {
    grid-area: call-to-action-2;
}
.hero-image-2 {
    grid-area: hero-image;
}